.calcBtn {
    margin: 6px;
    background-color: #EEE;
    width: 40px;
    height: 40px;
    box-shadow: 1px 1px 1px 1px #AAA;
}

.row {
    display: flex;
    justify-content: center;
}

#buttons {
    width: 80%;
    margin: 10px auto;
}

#calculator {
    margin: 30px auto;
    width: 250px;
    border: 1px solid #AAA;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 5px #AAA;
}

#display {
    margin: 20px auto 10px auto;
    border: 1px solid #AAA;
    border-radius: 5px;
    width: 80%;
    padding: 5px;
    text-align: right;
    box-shadow: -1px -1px 1px 1px #AAA;
}